/*fonts.css*/

.box {
  min-height: 100px;
width: 100%;
}

.white {
	  background-color: #fff;
	  min-height:2px;
}

.lavender_blush {
  background-color: #FFF0F5;
}

.light_gray {
  background-color: #D3D3D3;
}

.Navajo_White {
  background-color: #FFDEAD;
}

.Light_Cyan {
  background-color: #E0FFFF;
}

.Lavender {
  background-color: #E6E6FA;
}
h1 {
	font-family: 'Baloo Bhaijaan', cursive;
	padding-bottom: 10px;
}

h2 {
	font-family: 'Baloo Bhaijaan', cursive;
	font-family: 'Roboto', sans-serif;
	padding-bottom: 30px;
}

h3 {
	font-family: 'Droid Serif', serif;
	padding-bottom: 50px;
} 
