body { width: 100%;
		height: 100%;
		 background-color: #000000; 
		 } 
		 
.oneblock {
	background-color: #fff0f5; 
	width: 80%; 
	min-height: 85%;
	display: inline-block; 
	font-family: "Georgia", cursive, sans-serif; 
	font-size: 20px; 
	color: black; 
	} 
	
	.twoblock { background-color: #D3D3D3  ; 
	width: 45%; 
	min-height: 75%;
	display: inline-block; 
	font-family: "Georgia", cursive, sans-serif; 
	font-size: 20px; 
	color: black; 
	} 
	
.threeblock {
	background-color: #FFDEAD; 
	width: 45%; 
	min-height: 80%;
	display: inline-block; 
	font-family: "Georgia", cursive, sans-serif; 
	font-size: 20px; 
	color: black; 
	} 
	
	.fourblock {
	background-color: #E0FFFF; 
	width: 30%; 
	min-height: 60%;
	display: inline-block; 
	font-family: "Georgia", cursive, sans-serif; 
	font-size: 30px; 
	color: black; 
	} 
	
	.fiveblock {
	background-color: #E6E6FA ; 
	width: 60%; 
	min-height: 45%;
	display: inline-block; 
	font-family: "Georgia", cursive, sans-serif; 
	font-size: 20px; 
	color: black; 
	} 
	
	
		p { padding-top: 50px; 
	color:black; 
	} 
	
